body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100vh;
}
.logo
{
    width: 170px;
    cursor: pointer;
    margin-top: 0px;
}

.payment-details{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.308);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    backdrop-filter: blur(100px);
    margin-bottom: 50px;
    margin-left: 600%;
    border-radius: 40px;
}

.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    outline: solid rgb(0, 0, 0);
}
.input-box:hover{
    border: 1px solid rgb(255, 0, 0);
    outline: solid rgb(255, 0, 0);
}
button{
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

hr{
    margin-top: 20px;
    width: 80%;
}

img{
    width: 90px;
    margin-top: -50px;
    position: top;
}


.payment select {
    background: none repeat scroll 0 0 #fffafa;
    border: 3px solid #000000;
    border-radius: 10px; 
    font-family: 'Raleway', sans-serif;
    margin:5px;
}


.payment select option
{
    background-color: rgba(255, 255, 255, 0);
    border: 4px red;
    font-family: 'Raleway', sans-serif;
    
}

.payment select:hover
{
    background-color: rgb(255, 255, 255);
    border: 3px rgb(255, 0, 0);
}


button:hover
{
    background-color: rgb(0, 0, 0);
    filter: drop-shadow(10px);
    transform: translateY(-10px);
}